
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable< testing.Models.admin>

<h2>Admin Login</h2>

<table cellpadding="0" cellspacing="0">
    <tr>
        <th> Id</th>
       
    </tr>
    @foreach (testing.Models.admin customer in Model)
    {
        <tr>
            <td>@customer.Username </td>
            
        </tr>
    }
</table>